USE [master]
GO
/****** Object:  Database [InventoryDB]    Script Date: 21/04/2018 4:54:35 AM ******/
CREATE DATABASE [InventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryDB', FILENAME = N'/var/opt/mssql/data/InventoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryDB_log', FILENAME = N'/var/opt/mssql/data/InventoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryDB]
GO
USE [InventoryDB]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 21/04/2018 4:54:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[id] [int] NULL,
	[name] [varchar](50) NULL,
	[quantity] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
